{% extends "./layout.html" %}

{% block head %}
<link rel="stylesheet" href="/css/common.css">
{% endblock %}

{% block body %}

{% block homeBanner %}
{% endblock %}

<div class="show_time">
    <div class="feature-con">
        <ul class="feature fn-clear">
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">修身</h4>
                <p class="des">为天地立心</p>
            </li>
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">齐家</h4>
                <p class="des">为生民立命</p>
            </li>
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">治国</h4>
                <p class="des">为往圣继绝学</p>
            </li>
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">平天下</h4>
                <p class="des">为万世开太平</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}